<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Lastname:</b>
  <%= @person.lastname %>
</p>

<p>
  <b>Phone:</b>
  <%= @person.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Degree:</b>
  <%= @person.degree %>
</p>

<p>
  <b>State:</b>
  <%= @person.state_id %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
