<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @work.company_id %>
</p>

<p>
  <b>Person:</b>
  <%= @work.person_id %>
</p>

<p>
  <b>Role:</b>
  <%= @work.role %>
</p>


<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
