<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @assist.event_id %>
</p>

<p>
  <b>Person:</b>
  <%= @assist.person_id %>
</p>

<p>
  <b>Present:</b>
  <%= @assist.present %>
</p>


<%= link_to 'Edit', edit_assist_path(@assist) %> |
<%= link_to 'Back', assists_path %>
